<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}Skypiea{{ end }}</title>
    <link rel="stylesheet" href="/web/static/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"></script>
</head>
<body>

{{ template "header" . }}

<main id="content">
    {{ block "content" . }}{{ end }}
</main>

{{ template "home" . }}

<footer>
    {{ template "footer" . }}
</footer>

</body>
</html>
