<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}{{end}}</title>
    <link rel="stylesheet" href="/web/static/css/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
            integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="container">
        <h1>Skypiea AI</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/pricing">Pricing</a>
            <a href="/about">About</a>
            {{ if .UserLoggedIn }}
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
            {{ else }}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            {{ end }}
        </nav>
    </div>
</header>
<main>
    <div class="container">
        {{block "content" .}}{{end}}
    </div>
</main>
<footer>
    <div class="container">
        <p>&copy; 2025 Skypiea AI</p>
        <nav>
            <a href="https://github.com/fukaraca" target="_blank">GitHub</a>
            <a href="https://linkedin.com/in/fukaraca" target="_blank">LinkedIn</a>
            <a href="/about">About</a>
        </nav>
    </div>
</footer>
</body>
</html>
